@import url("https://fonts.googleapis.com/css2? family= Arvo:ital@1 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuentePrincipal);
  text-decoration: none; }

body {
  background-color: #f66f00;
  background-image: radial-gradient(#f3b93e 1.7px, #f66f00 1.7px);
  background-size: 34px 34px; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-snap-type: y mandatory; }

*, *::before, *::after {
  box-sizing: inherit; }

.redes {
  float: right; }

.copy {
  font-size: 20px;
  margin-left: 50px; }

.menu {
  max-width: 1500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  text-decoration: underline; }

ul {
  display: flex;
  position: relative;
  list-style: none;
  font-size: 30px; }

li {
  margin: 0px 20px;
  margin-right: 40px;
  transition: 0.5s; }
  li:hover {
    transform: scale(1.2); }

a {
  color: black; }

.combos_titulo {
  color: #532800;
  font-size: 50px;
  display: flex;
  justify-content: center; }

.combos_carne_titulo {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 100px 0px; }

.combos__carne {
  width: 500px;
  display: inline-block;
  transition: 0.5s; }
  .combos__carne:hover {
    transform: scale(1.2); }

.combos_carne {
  display: flex;
  flex-direction: column;
  align-items: center; }

.combos_pollo_titulo {
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 100px 0px; }

.combos__pollo {
  width: 500px;
  display: flex;
  justify-content: center;
  transition: 0.5s; }
  .combos__pollo:hover {
    transform: scale(1.2); }

.combos___pollo-carne {
  font-size: 30px;
  text-align: center;
  margin-top: 50px; }

.combos_pollo {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-container-combos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1000px; }

.combos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center; }

.contacto {
  color: #532800;
  font-size: 50px;
  margin-block-start: 100px;
  margin-left: 50px; }

.completa_formulario {
  color: rgba(232, 248, 1, 0.667);
  font-size: 30px;
  margin-block-start: 100px;
  margin-left: 30px;
  padding-bottom: 100px; }

input {
  display: flex;
  margin: 20px;
  font-size: medium; }

textarea {
  margin: 20px;
  display: flex; }

.botones {
  display: inline-block; }

.nombre {
  font-size: 20px;
  margin-left: 10px; }

.apellido {
  font-size: 20px;
  margin-left: 10px; }

.e-mail {
  font-size: 20px;
  margin-left: 10px; }

.telefono {
  font-size: 20px;
  margin-left: 10px; }

.asuntos {
  font-size: 20px;
  margin-left: 10px; }

.arma_combo {
  color: black;
  font-size: 50px;
  margin-block-start: 200px;
  margin-left: 600px; }

.home_1 {
  width: 750px;
  margin: 100px;
  margin-block-start: 200px;
  border: inset 10px cadetblue; }

.home_2 {
  justify-content: left;
  width: 750px;
  margin: 100px;
  border: inset 10px cadetblue; }

.menu_titulo {
  display: flex;
  justify-content: center;
  color: #532800;
  font-size: 50px; }

.menu_1 {
  display: flex;
  justify-content: center;
  width: 500px;
  transition: 0.5s; }
  .menu_1:hover {
    transform: scale(1.3); }

.menu__1 {
  display: flex;
  justify-content: none;
  font-size: 30px;
  margin: 60px; }

.menu___1 {
  margin: 100px; }

.menu_2 {
  display: flex;
  justify-content: center;
  width: 500px;
  transition: 0.5s; }
  .menu_2:hover {
    transform: scale(1.3); }

.menu__2 {
  display: flex;
  justify-content: none;
  font-size: 30px;
  margin: 60px; }

.menu___2 {
  margin: 100px; }

.nos {
  color: #532800;
  font-size: 50px;
  margin-block-start: 200px;
  margin-left: 150px; }

.quienes_somos {
  display: flex;
  justify-content: center;
  color: rgba(232, 248, 1, 0.667);
  font-size: 30px; }

.text {
  border: 4px solid black;
  margin: 100px;
  margin-left: 500px;
  text-align: center;
  table-layout: fixed;
  background-color: #ecee77;
  width: 1000px;
  height: 200px;
  display: table; }

.text p {
  color: #616161;
  font-size: 30px; }

@media screen and (max-width: 768px) {
  .arma_combo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-block-start: 150px;
    margin-left: 35px; }
  .logo {
    margin: 50px;
    height: 150px; }
  ul {
    display: flex;
    position: relative;
    list-style: none;
    font-size: 20px; }
  .home_1 {
    width: 600px;
    margin: 100px;
    margin-block-start: 200px;
    border: inset 10px cadetblue; }
  .home_2 {
    width: 600px;
    margin: 100px;
    justify-content: left;
    border: inset 10px cadetblue; }
  .menu_titulo {
    color: var(--secundario);
    font-size: 40px;
    display: flex;
    justify-content: center; }
  .flex-container {
    display: flex;
    flex-direction: column; }
  .combos___pollo-carne {
    font-size: 20px;
    text-align: left;
    margin: 100px;
    margin-top: 30px; }
  .combos_carne {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .combos_pollo {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .nos {
    color: var(--secundario);
    font-size: 50px;
    margin-block-start: 20px;
    margin-left: 10px; }
  .text {
    border: 4px solid black;
    margin: 100px;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
    background-color: #ecee77;
    width: 650px;
    height: 200px;
    display: table; } }

@media screen and (max-width: 576px) {
  .arma_combo {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-block-start: 0%;
    margin-left: 35px; }
  .menu {
    max-width: 1500px;
    margin: auto;
    display: flex;
    height: 100%;
    text-decoration: underline;
    align-items: center;
    justify-content: center; }
  ul {
    display: flex;
    position: relative;
    list-style: none;
    font-size: 12px; }
  .home_1 {
    width: 400px;
    margin: 100px;
    margin-block-start: 200px;
    border: inset 10px cadetblue; }
  .home_2 {
    width: 400px;
    margin: 100px;
    justify-content: left;
    border: inset 10px cadetblue; }
  .menu_1 {
    width: 400px;
    display: flex;
    justify-content: center;
    transition: 0.5s; }
  .menu__1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 60px; }
  .menu_2 {
    width: 400px;
    display: flex;
    justify-content: center;
    transition: 0.5s; }
  .menu__2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 60px; }
  .combos___pollo-carne {
    font-size: 13px;
    text-align: center;
    margin: 8px;
    margin-top: 30px; }
  .copy {
    font-size: 20px;
    margin: 0%; }
  .text {
    border: 4px solid black;
    margin: 65px;
    margin-right: auto;
    text-align: center;
    table-layout: fixed;
    background-color: #ecee77;
    width: 450px;
    height: 200px;
    display: table; } }
